
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/NGOlayout.cshtml";
}

<h2>Add Your Employee</h2>

<form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Enter Employee Name" />
    <input type="submit" class="form-control" value="ADD" />
</form>