
@{
    ViewBag.Title = "AddRestaurant";
    Layout = "~/Views/Shared/restaurantlayout.cshtml";
}

<h2>AddRestaurant</h2>
<form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Name of Restaurant" />
    <br />
    <input type="submit" value="SUBMIT" class="form-control" />
</form>
