
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/restaurantlayout.cshtml";
}
@model List<mid_project.DB.Restaurant>
<h2>Index</h2>


@if (TempData["msg"]!=null)
{
    <div class="alert alert-danger"> @TempData["msg"] </div>

}
<h3>Restaurant List</h3>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Requests</th>
        <th>Apply New Request</th>
        <th>All Requests</th>
    </tr>
    @foreach (var r in Model)
    {
        <tr>
            <td>@r.name</td>
            <td>@r.Requests.Count</td>
            <td>
                <a href="/Restaurant/CreateReq/@r.id" class="btn btn-outline-dark">APPLY NEW REQUEST</a>
            </td>
            <td>
                <a href="/Restaurant/CheckRequests/@r.id" class="btn btn-outline-dark">CHECK REQUESTS</a>
            </td>
        </tr>
    }
</table>
